.photo1 {
    background-image: url(Images/2.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 338px;
    border-radius: 16px;

}

.photo2 {
    background-image: url(Images/3.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 338px;
    border-radius: 16px;

}
.photo3{
    background-image: url(Images/4.png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 450px;
    border-radius: 16px;
    
}